<!--The content below is only a placeholder and can be replaced.-->
<!--<div style="background-color: lightsteelblue;margin-top:150px;height:260px;">

  <form (ngSubmit)="OnSubmit()" >
    <p style="margin-left:550 px">
     <label style="margin-left:500px">Vendor Code </label>
     <input name="vcode" type="text" [(ngModel)]="ven.vcode" style="margin-top:25px" required>
  
     <br />
  
     <label style="margin-left:500px">Vendor Name      </label>
     <input name="vname" type="text" [(ngModel)]="ven.vname"  style="margin-top:10px">
    
  
     <br /><br/>
     <input type="submit" value="Submit" style="margin-left:600px">
    </p>
  </form>
  <ul>
    <li *ngFor = "let venarr of venarray" >
      id: {{venarr.vcode}}      <br/>
      FirstName: {{venarr.vname1}}     <br/>
      LastName: {{venarr.vame2}}       <br/>
    </li>
  </ul>
</div>

<router-outlet></router-outlet>
-->
<router-outlet></router-outlet>


